@if (!monthlyExpenses || flatExpenses.length === 0) {
  <div></div>
} @else {
  <div>
    <button (click)="setChartType('categoryBreakdown')">גרף עוגה</button>
    <button (click)="setChartType('monthlyComparison')">מגמות חודשיות</button>
  </div>
  <div>
    @if (chartToShow === "categoryBreakdown") {
      <div>
        <span>בחר חודש</span>
        <select (change)="setDate($event)">
          <option value="">כל התקופה</option>
          @for (ym of availableDates; track ym) {
            <option [value]="ym">
              {{ formatters.monthToHebrewName(ym.split("-")[1]) }} -
              {{ ym.split("-")[0] }}
            </option>
          }
        </select>
        <h2>התפלגות הוצאות לפי קטגוריה</h2>
        <p>סה"כ קטגוריות: {{ numOfItems }}</p>
        <div class="chart-wrapper">
          <app-pie-chart [data]="pieChart" />
        </div>
      </div>
    } @else {
      <div>
        <app-bar [data]="barChart"></app-bar>
      </div>
    }
  </div>
}
