<div class="grid">
  <app-category-select (onChange)="setCategory($event)"></app-category-select>
  @if (selectedCategory) {
    <app-business-select
      [selectedCategory]="selectedCategory"
      (onChange)="setBusiness($event)"
    ></app-business-select>
    @if (selectedBusiness) {
      <form class="grid" [formGroup]="addTransactionForm" (submit)="addTransaction()">
        <label for="">סכום</label>
        <input type="number" 
        formControlName="amount"/>
        <label for="">תאריך</label>
        <input formControlName="date"
         type="date" />
        <label for="">תיאור(אופציונלי)</label>
        <input formControlName="description"
        type="text" />
        <button type="submit" [disabled]="!addTransactionForm.valid">הוסף עסקה</button>
      </form>
    }
  }
</div>
