<div>
  <button (click)="setState('budgets')">סקירת תקציב</button>
  <button (click)="setState('expenses-display')">הוצאות</button>
  <button (click)="setState('expenses-summary')">סיכום הוצאות</button>
  <button (click)="setState('graphs')">גרפים</button>
  <button (click)="setState('insights')">תובנות AI</button>
</div>
@switch (displayState) {
  @case ("budgets") {
    @if (budgetsData$ | async; as budgets) {
      <app-budget-summary
        [profileBudget]="budgets.profile"
        [categoryBudgets]="budgets.category"
      ></app-budget-summary>
    }
  }
  @case ("expenses-display") {
    @if (expensesData$ | async; as expensesData) {
      <app-expenses-display
        [expenses]="expensesData.expenses"
      ></app-expenses-display>
    }
  }
  @case ("expenses-summary") {
    @if (expensesData$ | async; as expensesData) {
      <app-expenses-summary
        [expenses]="expensesData.expenses"
      ></app-expenses-summary>
    }
  }
  @case ("graphs") {
    @if (expensesData$ | async; as expensesData) {
     <app-expenses-graphs
     [expenses]="expensesData.expenses"
     ></app-expenses-graphs>
    }
  }
  @case ("insights") {
    <app-insights></app-insights>
  }
}
